@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/* 공통 */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  list-style: none;
}

input::placeholder {
  font-weight: 500;
  font-size: 20px;
  color: #A3BFAF;
}

/* 헤더 */
.header {
  width: 100%;
  height: 84px;
  background: #02735E;
}

.header .container {
  width: 1180px;
  height: 84px;
  margin: 0 auto;
  position: relative;
}

.header .container .logo {
  width: 130px;
  height: 30px;
  padding: 27px 0;
}

.header .container .logo a {
  width: 104px;
  margin-left: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #F2F2F2;
}

.header .container .logo img {
  width: 18px;
  height: 18px;
}


/* 본문 */
body {
  background-color: #f2f2f2;
  overflow: auto;
}

.content {
  width: 1180px;
  height: calc(100vh - 174px);
  margin: 0 auto;
  position: relative;
}

.chatRoomList,
.chat {
  height: 100%;
  position: absolute;
  top: 0;
  border: 1px solid #A3BFAF;
}

.chatRoomList {
  width: 380px;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat {
  width: 800px;
  right: 0;
}

.chatRoomList .chatRoom {
  width: 380px;
  height: 100px;
  border-bottom: 1px solid #A3BFAF;
  position: relative;
  cursor: pointer;
}

.chatRoomList .selectedRoom {
  background-color: #A3BFAF;
}

.chatRoomList .chatRoom p {
  margin-left: 14px;

}

.chatRoomList .chatRoom p:nth-child(1) {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  padding-top: 17px;
  margin-bottom: 25px;
}

.chatRoomList .chatRoom p:nth-child(2) {
  line-height: 20px;
  margin-bottom: 17px;
}

.chatRoomList .chatRoom .badge {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 17px;
  top: calc(50% - 13px);
  background: #D95F5F;
  border-radius: 13px;
  color: #fff;
  text-align: center;
  line-height: 25px;
}

.chat .chatHeader {
  height: 50px;
  border-bottom: 1px solid #A3BFAF;
}

.chatHeader>div:first-child {
  float: left;
  width: 26px;
  height: 26px;
  padding: 12px 0 0 25px;
}

.chatHeader div img {
  width: 26px;
  height: 26px;
}

.chatHeader>div:nth-child(2) {
  margin-left: 75px;
}

.chatHeader .userName {
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
}

.chat .chatBody {
  height: calc(100% - 104px);
  overflow-y: auto;
  padding: 5px 34px 29px;
}

.chatBody .received {
  padding-top: 24px;
}

.chatBody .received .msg {
  display: inline-block;
  padding: 14px;
  margin-right: 10px;
  max-width: 366px;
  word-break: break-all;
  background-color: #A3BFAF;
}

.chatBody .received .msgTime {
  vertical-align: bottom;

}

.chatBody .sent {
  padding-top: 24px;
  text-align: right;
}

.chatBody .sent .msg {
  display: inline-block;
  padding: 14px;
  margin-left: 10px;
  max-width: 366px;
  word-break: break-all;
  background-color: #D95F5F;
}

.chatBody .sent .msgTime {
  vertical-align: bottom;
}

.chat .chatFooter {
  height: 54px;
  border-top: 1px solid #A3BFAF;
}

.chatFooter input {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

/* footer */
.footer {
  width: 100%;
  height: 80px;
  background: #02735E;
  color: #F2F2F2;
  padding: 45px 0;
}
